ACCESS_TOKEN_EXPIRE_MINUTES=
ALGORITHM=
DATABASE_URL=
DEBUG=
ENVIRONMENT=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_SERVER=
POSTGRES_USER=
PROJECT_NAME=
RATE_LIMIT_LOGIN_PER_MINUTE=
RATE_LIMIT_REFRESH_PER_MINUTE=
REDIS_DB=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
REFRESH_TOKEN_EXPIRE_DAYS=
SECRET_KEY=
VITE_BACKEND_URL=https://health-chain-backend-api-438951514298.asia-south1.run.app